<div class="container" style="max-height: 100%;">

  <div class="row" >
    <ion-header translucent>
      <ion-toolbar class="col-12 col-lg-12  pb-5 p-sm-5 p-lg-0 hero-col">
        <ion-title style="text-align: center;">
          <!-- <img src="./assets/img/logo.png" style="width: 10%; margin-right: 2%; margin-left: 0px;"/> Access Login -->
          Access Login
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="col-12 col-lg-12 d-flex  pb-5 p-sm-5 p-lg-0 hero-col" style="margin-top: 10%;">
  
      <ion-content fullscreen >
        <ion-card >
          <img src="./assets/img/logo.png" style="width: 40%; margin-right: 30%; margin-left: 30%; margin-top: 10px;" />
          <ion-card-header>
            <ion-card-subtitle style="text-align: center;">Authentication</ion-card-subtitle>
            <!-- <ion-card-title>{{item.symbol}} </ion-card-title> -->
          </ion-card-header>
          <ion-card-content>
              <form #form="ngForm"  (ngSubmit)="filterAddress(form)" novalidate>
                <ion-item>
                  <ion-label position="floating">Enter Wallet Address</ion-label>
                  <ion-input id="address" name="address" [(ngModel)]='address' type="text" required></ion-input>
                </ion-item>
  
                <ion-row>
                  <ion-col>
                    <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
                  </ion-col>
                </ion-row>

                <ion-label position="floating" *ngIf="this.error" style="text-align: center;">{{this.error}}</ion-label>
              </form>
          </ion-card-content>
        </ion-card>
      </ion-content>
      
    </div>
  </div>
  
  
</div>